
$line-color: #ccc; // 连线颜色
$line-size: 2px; // 连线粗细
$line-length: 12px; // 连线长度

$node-wrapper-size: 100px; // 节点大小

// hover的盒子样式
%hover-box {
  border-color: #fafafa;
  background-color: rgba(255,255,255,.35);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}
%no-hover-box {
  border-color: transparent;
  box-shadow: none;
  background-color: transparent;
}

.render-list-wrapper {
  margin: 0 auto;
  display: inline-flex;
  text-align: center;
  min-width: 100px;
  flex-direction: column;
  justify-content: center;
  position: relative;

  & > .sub-node {
    left: 50%;
    top: -3px;
    transform: translateX(-50%);
    opacity: 0;
  }
  &:hover {
    & > .sub-node {
      opacity: 1;
    }
  }
}

.node-box {
  border: 1px solid transparent;
  transition: all .5s;
  box-sizing: border-box;
  border-radius: 5px;
  display: inline-flex;
  flex-direction: column;
  &:hover {
    transform: scale(1.02);
  }

  & > .node-wrapper > .sub-node {
    right: 10px;
    top: 0;
    opacity: 0;
  }
  &.hover-node {
    @extend %hover-box;
    &.no-branch-box {
      @extend %no-hover-box;
      & > .node-wrapper {
        @extend %hover-box;
      }
    }

    & > .node-wrapper > .sub-node {
      opacity: 1;
    }
  }
}
// 节点容器
.node-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:$node-wrapper-size;
  margin:0 auto;
  border-radius: 5px;
  border: 1px solid transparent;
}

// 连线
.line {
  width: $line-size;
  min-height: $line-length;
  background-color: $line-color;
  margin: 0 auto;
  flex-grow: 1;
}


@keyframes canDropBranch
{
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.01);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(0.99);
    }
    100% {
      transform: scale(1);
    }
}
// 分支容器
.branch-wrapper {
  display: inline-flex;
  position: relative;
  margin: 0 auto;

  &.branch-wrapper-width {
    width:calc(#{$node-wrapper-size} * var(--var-col-count))
  }

  & > .hover-branch {
    @extend %hover-box;
  }
  & > .can-drop-branch {
    border: 1px dashed #3b3b3b;
    box-shadow: 0 0 10px #3b3b3b;
    animation: canDropBranch 2.5s infinite;
  }

  &::before,&::after {
    content: '';
    position: absolute;
    height: $line-size;
    background-color: $line-color;

    // 默认居中显示 实际相对应节点计算得出
    width: calc(100% - #{$node-wrapper-size} / 2 * (var(--var-first-branch-col-count) + var(--var-last-branch-col-count)));
    left: calc(#{$node-wrapper-size} / 2 * var(--var-first-branch-col-count));
    transform: none;
  }
  &::before {top: 0;}
  &::after {bottom: 0;}
}

// 圆节点
.c-circle {
  width:50px;
  height:50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orangered;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}
.c-start {
  background-color: rgb(60, 230, 60);
}
.c-if {
  background-color: rgb(213, 255, 60);
}
.c-other {
  background-color: rgba(228, 221, 199);
}
.c-switch {
  background-color: aqua;
}
.c-end {
  background-color: rgb(255, 87, 87);
}
.c-feat {
  background-color: rgb(252, 207, 61);
}